*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Libre Franklin', sans-serif;
  color: hsl(209, 33%, 12%);
  text-align: center;
  overflow-x: hidden !important;
}

.wrapper{
  width: 45%;
  margin: 0 auto;
}

.text-bold{
  color: hsl(209, 33%, 12%);
  font-weight: 700;
}

.img-container img{
  width: 100%;
}

img.logo{
  display: block;
  margin: 4rem auto 0 auto;
}

h1{
  margin-top: 2.5rem;
  color: hsl(0, 0%, 59%);
  font-weight: 300;
  font-size: 2.5rem;
  letter-spacing: 1px;
}

h2{
  margin-top: 1rem;
  font-weight: 300;
  color: hsl(209, 33%, 12%);
  font-size: 1.1rem;
}

form{
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
  margin-bottom: 5rem;
}

input[type=email]{
  width: 65%;
  padding: 1rem 1.3rem;
  border: 1.5px solid hsl(223, 100%, 88%);
  border-radius: 25px;
  outline: none;
  opacity: .7;
}

::placeholder{
  color: hsl(223, 100%, 88%);
}

input[type=submit]{
  width: 30%;
  padding: 1rem 0;
  border: none;
  border-radius: 25px;
  background-color: hsl(223, 87%, 63%);
  box-shadow: 0px 0px 5px hsl(223, 87%, 63%);
  color: #fee;
  font-weight: 600;
  outline: none;
}

input[type=submit]:hover{
  cursor: pointer;
}

.socials{
  display: flex;
  justify-content: center;
  margin-top: 3rem;
}

.socials i{
  margin: 0 0.4rem;
  padding: 0.2rem;
  border: 1px solid hsl(223, 100%, 88%);
  color: hsl(223, 87%, 63%);
  border-radius: 50%;
}

p:last-child{
  margin: 2rem 0;
  color: hsl(0, 0%, 59%);
  font-size: 0.7rem;
}

@media only screen and (max-width: 768px) {
  .wrapper{
    width: 80%;
  }

  h1{
    font-size: 1.5rem;
  }

  h2{
    font-size: 0.9rem;
  }

  form{
    flex-direction: column;
    margin-bottom: 3rem;
  }

  input[type=email]{
    width: 100%;
    padding: 1rem 1.3rem;
    border: 1.5px solid hsl(223, 100%, 88%);
    border-radius: 25px;
    outline: none;
    opacity: .7;
  }

  ::placeholder{
    color: hsl(223, 100%, 88%);
  }

  input[type=submit]{
    width: 100%;
    padding: 1rem 0;
    border: none;
    border-radius: 25px;
    background-color: hsl(223, 87%, 63%);
    box-shadow: 0px 0px 5px hsl(223, 87%, 63%);
    color: #fee;
    font-weight: 600;
    outline: none;
  }

}
